{% extends "base.html" %}
{% block title %}Create Exam{% endblock %}

{% block content %}
<div class="main-content p-4">
    <div class="form-container mx-auto">
        <h2 class="mb-4">Create Exam</h2>

        <form method="POST" class="card p-4 shadow-sm">
            
            <div class="mb-3">
                <label class="form-label">Exam Title</label>
                <input type="text" name="title" class="form-control" required>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Duration (minutes)</label>
                    <input type="number" name="duration" class="form-control" required>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Marks per Question</label>
                    <input type="number" name="marks" class="form-control" value="1" required>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Negative Marks</label>
                    <input type="number" name="negative" class="form-control" value="0">
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Max Attempts</label>
                    <input type="number" name="max_attempts" class="form-control" value="1" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Exam Start Date & Time</label>
                    <input type="datetime-local" id="start_date" name="start_date"
                           class="form-control"
                           required>
                </div>
            
                <div class="col-md-6 mb-3">
                    <label class="form-label">Exam End Date & Time</label>
                    <input type="datetime-local" id="end_date" name="end_date"
                           class="form-control"
                           required>
                </div>
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Create Exam</button>
                <a href="{{ url_for('teacher.dashboard') }}" class="btn btn-secondary" data-spa>Cancel</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}