{% extends "base.html" %}
{% block title %}Support{% endblock %}

{% block content %}

<section class="support-hero text-center ">
  <div class="container">
    <h1>Need Help?</h1>
    <p class="text-light">We’re here to support you anytime</p>
  </div>
</section>

<section class="support-options">
  <div class="container">

    <div class="row g-4">

      <div class="col-md-4">
        <div class="support-card">
          <div class="icon">📧</div>
          <h5>Email Support</h5>
          <p>Get help within 24 hours</p>
          <span>supportIndiaEduCore@gmail.com</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="support-card">
          <div class="icon">📞</div>
          <h5>Call Us</h5>
          <p>Talk directly with our team</p>
          <span>+91 9318306080</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="support-card">
          <div class="icon">💬</div>
          <h5>Live Chat</h5>
          <p>Quick answers instantly</p>
          <span>Available soon</span>
        </div>
      </div>

    </div>

  </div>
</section>

{% endblock %}