{% extends "base.html" %}

{% block content %}

<div class="login-wrapper d-flex align-items-center justify-content-center">

<div class="col-md-4">

<div class="card shadow-lg border-0">

<div class="card-body p-4">

<h3 class="text-center fw-bold mb-1">
Smart Exam System
</h3>

<p class="text-center text-muted small mb-4">
    Secure Digital Exam Platform
</p>

<form method="POST">

<div class="mb-3">
<input type="email" name="email" class="form-control" placeholder="Email">
</div>

<div class="mb-3">
<input type="password" name="password" class="form-control" placeholder="Password">
</div>

<button class="btn btn-primary w-100">Login</button>

</form>

<!-- Somewhere below the login form -->
<p class="text-muted small text-center mt-3">
    {% if role == "teacher" %}
        Forgot password? Contact your School Admin.
    {% elif role == "school_admin" %}
        Forgot password? Contact your service provider.
    {% elif role == "super_admin" %}
        Forgot password? Contact system support.
    {% else %}
        Forgot password? Contact support.
    {% endif %}
    </p>

</div>

</div>

</div>

</div>

{% endblock %}